<div class="dashboard-container">
  <div class="header">
    <h2 class="title">Admin management</h2>
  </div>

  <div class="section">
    <h3 class="section-title">Overall Inventory</h3>
    <div class="stats-grid">
      <app-stat-card
        title="Events"
        [value]="totalEvents"
        subtitle="Last 7 days"
        color="blue">
      </app-stat-card>

      <app-stat-card
        title="Discussions"
        [value]="totalRooms"
        subtitle="Last 7 days"
        color="orange">
      </app-stat-card>

      <app-stat-card
        title="Total Users"
        [value]="totalUsers"
        subtitle="Last 7 days"
        color="purple">
      </app-stat-card>

      <app-stat-card
        title="Messages from Users"
        [value]="newMessages"
        subtitle="Need to Reply"
        [secondValue]="pastMessages"
        secondSubtitle="Past Mess"
        color="red">
      </app-stat-card>
    </div>
  </div>

  <div class="charts-grid">
    <!-- Chart: Number of Users -->
    <mat-card class="chart-card">
      <mat-card-header>
        <div class="chart-header">
          <div>
<!--            <mat-card-title>Number of Users</mat-card-title>-->
            <mat-card-title>Number of Events</mat-card-title>
<!--            <p class="big-number">{{ totalUsers }}</p>-->
            <p class="big-number">{{ totalEvents }}</p>
          </div>

          <mat-form-field appearance="outline">
            <mat-select [(value)]="selectedTimeFrame" (selectionChange)="onTimeFrameChange()">
              @for (time of timeFrames; track time) {
                <mat-option [value]="time">{{ time }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-header>

      <mat-card-content>
<!--        <app-bar-chart-->
<!--          [chartData]="userChartData"-->
<!--          [chartLabels]="userChartLabels"-->
<!--          [chartTitle]="'Events Created Over Time'"-->
<!--        ></app-bar-chart>-->
        <app-bar-chart
          [chartData]="eventChartData"
          [chartLabels]="eventChartLabels"
          [chartTitle]="'Events Created Over Time'"
        ></app-bar-chart>


      </mat-card-content>
    </mat-card>

    <!-- Table: Famous Discussion -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Famous Discussion</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-events-table></app-events-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
